@charset "utf-8";
@font-face{
	font-family: 'Fonte_logo';
	src: url("../_fontes/Urban.ttf");
}
body {
  background-color:  #c8a786;
  background-image: url("../_imagens/fundo.jpg");
  font-family: 'Fonte_logo'; 
  text-shadow:#fff 1px -1px, #fff -1px 1px, #fff 1px 1px, #fff -1px -1px;
  font-weight: bold;
}
header#cabecalho{               
    background:url("../_imagens/ceva03.png");
    position: relative;
}
.container {
  margin: 0 auto;
  width: 940px;
}
.busca{
  position: absolute;
  border: 4px solid #4c4c4c;
  border-radius: 10px;
  font-family: 'Fonte_logo';
  font-size: 20pt;
  left: 290px;
  bottom: 55px;
}
.lupa{
  position: absolute;
  left: 587px;
  bottom: 50px;
}
.carrinho {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../_imagens/carrinho.png) no-repeat top right;
  background-size: 23%;
  padding-right: 35px;
  font-size: 10pt;
  text-align: right;
  width: 140px;
  padding-top: 8px;
}
.menu_opcoes {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.menu_opcoes ul {
  font-size: 15px;
}
.menu_opcoes a {
    color: #000000;
    font-size: 20pt;
    text-decoration: none;
}
.menu_opcoes a:hover {
    color: #fff;
    font-size: 20pt;
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
    text-decoration: none;
}
.menu_opcoes li {
  display: inline;
  margin-left: 30px;
}
.menu_categoria{
    position: fixed;
    width: 200px;
    height: 300px;
    top: 160px;
    left: 10px;
    text-align: left;
    font-size: 20pt;
}
.menu_categoria li{
    display: block;
    padding-top: 20px;
}
.menu_categoria li ul{
    display: none;
}
.menu_categoria li:hover ul{
    display: block;
}
.painel {
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 445px;
}
.painel_promocao {
float: left;
}
.painel_vendidos {
float: right;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 40px;
    padding-bottom: 10px;
}
.painel h2{
    text-align: center;
    font-weight: bold;
    font-size:30pt;
}
.paineis a {
    text-align: center;
    font-size: 13pt;
    color:black;
    text-decoration: none;
}
.rodape{
    position: relative;
}
.redes_sociais {
    font-size: 15pt;
    text-align: center;
    position:absolute;
    right: 0;
    bottom: 0;
}
.redes_sociais li{
    display: inline-block;
}
